{% block body %}
<body class="body">
    <div class="container" align="center">
        <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:500px'/>
        <embed type="image/svg+xml" src={{graph_data2|safe}} style='max-width:500px'/>
    </div>
    <div class="container" align="center">
        <embed type="image/svg+xml" src={{graph_data3|safe}} style='max-width:500px'/>
        <embed type="image/svg+xml" src={{graph_data4|safe}} style='max-width:500px'/>
    </div>
</body>
{% endblock %}